@import '@fontsource-variable/noto-sans/wdth.css';
@import '@fontsource-variable/fira-code';
@import '@catppuccin/tailwindcss/mocha.css';
@import 'tailwindcss';

@layer font {
    body {
        @apply font-sans;
        font-family: 'Noto Sans Variable', sans-serif;
        font-variation-settings: 'wdth' 400;
        font-display: swap;
    }

    code,
    pre {
        @apply font-mono;
        font-family: 'Fira Code Variable', monospace;
        font-variation-settings: 'wght' 400;
        font-display: swap;
    }
}

@layer base {
    a {
        @apply decoration-ctp-lavender underline decoration-1 underline-offset-2 transition-colors;
    }

    a:hover {
        @apply bg-ctp-lavender text-ctp-crust! no-underline transition-colors;
    }

    mark {
        @apply bg-ctp-lavender text-ctp-crust;
    }

    img.emoji {
        display: inline-block;
        height: 1em;
        width: 1em;
        margin: 0 0.25em !important;
        vertical-align: middle;
        transform: translateY(-0.2em) scale(1.55);
        transform-origin: center;
        transition: all 0.1s ease-in-out;
        color: transparent !important;
        &:hover {
            transform: translateY(-0.2em) scale(2.5);
        }
    }

    img.large {
        transform: translateY(-0.05em) scale(1.75);
        margin: 0 0.5em !important;
        &:hover {
            transform: translateY(-0.05em) scale(4);
        }
    }
}

@layer utilities {
    .astro-code span {
        font-style: monospace !important;
    }

    .pattern {
        --size: 32px;
        --line: 2px;

        background:
            repeating-linear-gradient(
                to right,
                transparent 0,
                transparent calc(var(--size) - var(--line)),
                var(--color-ctp-mantle) calc(var(--size) - var(--line)),
                var(--color-ctp-mantle) var(--size)
            ),
            repeating-linear-gradient(
                to bottom,
                transparent 0,
                transparent calc(var(--size) - var(--line)),
                var(--color-ctp-mantle) calc(var(--size) - var(--line)),
                var(--color-ctp-mantle) var(--size)
            );
    }
}
